:root {
    --pwa-blue: hsl(50, 51%, 48%);
    --bg-light: #f6f6f6;
    --text-color: #283239;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-light);
    overflow-x: hidden
}


#main-header {
    background-color: transparent;
    position: absolute;/*quando o header parar de ficar transparente meter aqui absolue*/
    width: 100%;
    z-index: 1000;/*para apareceer a logo*/
    padding: 20px;
    box-sizing: border-box;/*com isto nao aparece a barra do scroll em baixo da pagina */
}
/*flex-start: alinha tudo a esquerda.
center: alinha tudo ao centro.
flex-end: alinha tudo a direita.*/


#main-content {
    flex-grow: 1; /*ocupa o espaco disponivel*/
    background-color: transparent;
    padding-top: 0px;/*padding-top: 0px se nao der entao para 100px*/
}

.card {
    background: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #eee;
}

#main-footer {
    background-color: #111;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    color: rgb(255, 255, 255);
    user-select: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    max-width: 75px; /*reduzi um pouco para os botões não ficarem tão largos */
    margin: 0 auto;
    cursor: pointer;
}

.nav-item i { 
    font-size: 24px; 
}

.nav-item.active {
    color: #736a6a; /*muda a cor do texto e do ícon do footer*/
}


.nav-item span { 
    font-size: 11px; 
    margin-top: 4px; 
}



.carousel-lojas {
    max-width: 80% ; 
    margin: 40px auto;
    height: auto;
    display: flex;
    overflow-y: hidden;/*para a barra debaixo das fotos aparecer direito e no sitio certo*/
    scroll-snap-type: x mandatory;/*serve para nao ser so arrastar e da para apenas clico do outro lado da foto, 
                                  sem isso tenho de arrastar a barra com isto basta dar um clique*/
    height: 50%;
}



.banner-home {
    position: relative;
    width: 100%;
    height: 62vh;
    overflow: hidden;
}


.img-homepage-redicom {
    padding-top: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    display: block;
}

.conteudo-banner {
    position: absolute;
    pointer-events: none;/*permite que de para clicar mesmo com o rato em cima das letras*/
    top: 55%;
    left: 15%;
    transform: translateY(-50%);
    max-width: 550px;
}


.subtitulo {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.titulo-principal {
    font-family:'Arial Bold', sans-serif; 
    color: #f3b01c;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 20px 0;
}

.descricao {
    font-family:'Arial Bold', sans-serif; 
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    max-width: 450px;
}



/*com isto todos os botões ficam definidos como pointer significa que 
fica com aquele rato diferente quado ficamos com o rato em cima do botao*/
button {
    cursor: pointer;
}


.slide {
    min-width: 100%;
    scroll-snap-align: start;/*serve para nao ser so arrastar e da para apenas clico do outro lado da foto, 
                            sem isso tenho de arrastar a barra com isto basta dar um clique*/
}

.slide img {
    width: 100%;
    height: 100%;
}


.btn-saber-mais {
    background-color: #F5AC01;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 40px;
    border: none;/*bordas*/
    border-radius: 30px;/*o botao fica redondo tipo formato oval*/
}


/*sem este pecado de codigo fica em vez de colunas fica tudo em linhas*/
/*==============================================*/
.secao-lojas{
    background-color: #ffffff;
    padding: 60px 0;
}               

.solucoes{
    display:flex;/*sem isto ficam apenas numa coluna*/
    justify-content:center;
    gap:50px;/*espacamento entre os textos*/
    margin:40px;/*espacamento entre os textos e a parte de baixo da pagina*/
}

.solucao{
    width:220px;
    text-align:center;/*texto fica centrado*/
}


.solucao p { 
    font-weight: 300;/*meter a letra mais fina*/
}


.sobres{
    display:flex;/*sem isto ficam apenas numa coluna*/
    justify-content:center;
    gap:50px;/*espacamento entre os textos*/
    margin:40px;/*espacamento entre os textos e a parte de baixo da pagina*/
}

.sobre{
    width:220px;
    text-align:center;/*texto fica centrado*/
}
/*==============================================*/


.sobre p { 
    font-weight: 300;/*meter a letra mais fina*/
}



.tabs {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 200px; /*da espaco para a caixa não ficar em cima do que vem abaixo */
}


.tab label {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;/*fica tudo em caps lock*/
}




.tab input[type="radio"] {
    display: none; /*esconde os circulos azuis para clicar so no texto*/
}
 /*cria a animação*/
@keyframes subir {
    from {
        opacity: 0;
        transform: translate(-50%, 15px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/*quando clico na bolinha, o '~' vai buscar o conteúdo e mostra-o */
.tab input[type="radio"]:checked ~ .tab-content {
    display: block;
    animation: subir 0.4s ease-out; /*faz o conteudo aparecer suave com uma animacao*/
}

.tab input[type="radio"]:checked + label {
    color: #f3b01c;
    border-bottom: 2px solid #f3b01c;
}

.tab-content {
    display: none;
    color: #000000;
    font-weight: bold;
    background-color: #eeeff0;
    padding: 20px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}


#page-sobre {
    max-width: 850px;/*impede que o texto va para as extrimidades*/
    margin: 0 auto;/*fica no meio da pagina */
}

#page-sobre h1 {
    font-size: 2.0rem;
    color: #333;
    margin-bottom: 30px;/*espaco entre o titulo e o texto*/
}

#page-sobre p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 40px;/*espaco entre cada paragrafo*/
}

.secao-numeros {
    background: #1a3352 !important;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    padding: 60px 0;
    text-align: center;
}


.secao-numeros h1, 
.secao-numeros p {
    color: white !important;
}


.grid-numeros {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.item-numero {
    flex: 1;
    text-align: left;
    max-width: 200px;
}


.valor {
    color: #4a90e2 !important;
    font-size: 3rem;
    margin: 0;
}


.linha-amarela {
    width: 35px;
    height: 2px;
    background: #f3b01c !important;
    margin: 15px 0;
}



.pagina-contactos{
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.pagina-contactos img{
    height: 150%;
}
.texto-contactos{
    position: absolute;
    bottom: 20px;
    left: 250px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.mini-menu-contactos {
    position: absolute;
    top: 70px;
    right: 330px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.mini-menu-contactos a{
    color: white;/*para o botao homepage ficar branco*/
    text-decoration: none;/*assim o botao nao comeca selecionado*/
}


.btn-homepage:hover {
    text-decoration: underline;/*quando passo com o rato em cima do botao fica sublinhado*/
}


.formulario-contactos{
    max-width:650px;
    margin:60px 250px;
    background:rgb(244, 241, 241);
    padding:15px 20px;
}

.formulario-contactos input,
.formulario-contactos textarea {
    margin-bottom: 20px;
    width: 95%;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #3f1919;/*acrescentar uma linha em baixo do espaco branco, onde se escreve*/
}

.formulario-contactos button {
    width: 25%;
    background: #F5AC01;
    border: none;
    padding: 14px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
}


.contactos-container{
    display: flex;/*paraa fica a direita do formulario*/
}

.info-contactos a{
    color: #4a4747;
}

.info-contactos a:hover{
    color: #eacb1d; /*fica amarelo ao passar o rato*/
    text-decoration: none;
    font-weight: bold;
}


.redes-sociais img {
    gap: 10px;/*espaço entre os dois icones*/
    width: 30px;
}
